build/
.gradle/
.idea/
*.iml
local.properties

google-services.json
*.keystore
*.jks
app/google-services.json

**/build/
captures/
.externalNativeBuild/
.cxx/

Thumbs.db
.DS_Store

*.log


*.orig
*.swp
*.swo
